@import "tailwindcss";

body {
  background-color: white;

  @layer utilities {
  .bg-custom-hero {
          background-image: url('/assets/Image-Back.png'), url('/assets/Footerimg.png');
          background-position: center top -3rem, center bottom -17rem;
          background-size: contain, contain;
  }
}
}
